* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
/*Aftab */
* {
    box-shadow: none!important;
    /* font-weight: 300; */
}

@font-face {
    font-family: abc;
    src: url("../fonts/OratorStd.otf");
}
body,
input,
select,
textarea,
button,
.ui-btn {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif !important;
    text-shadow: unset !important;
    font-weight: normal;
}
/* Aftab tag end  */
/* 3-17 aftab changes */

.background-login-image {
    background-image: url('../image/bg-splash-page.jpg');
}

.png_icons_mail {

    font-size: 20px!important;
    color: black;
    margin-top: 16px;
    width: 34px;
}

.fa-user:before {
    margin-left: 1px;
}

.fa-unlock-alt:before {
    margin-left: 1px;
}

.eqStyle_low {
    margin: 0% -13% 0% 8%;
}

.eqStyle_medium {
    margin: 0% -32% 0% 13%;
}

.eqStyle_heigh {
    margin: 2% -18% 0% 10%;
}

.eqStyle_low_lable {
    position: relative;
    left: -4%;
    bottom: 26px;
}

.eqStyle_medium_lable {
    position: relative;
    left: -6%;
    bottom: 30px;
}

.eqStyle_high_lable {
    position: relative;
    left: -5%;
    bottom: 28px;
}

.containerEqualizer {
    position: relative;   
    width: 100%;
}

.mp3_player {
    width: 500px;
    height: 60px;
    background: #000;
    padding: 5px;
    margin: 50px auto;
}

.audio_box {
    width: 500px;
    background: #000;
    float: left;
}

.canvas {
    width: 500px;
    height: 30px;
    background: #002D3C;
    float: left;
}

.textEq {
    width: 20px;
}

#txtSongUrl {
    width: 100%;
}

.logo_wrap {
    width: 100%;
    padding: 10px 0 0 3%;
    border-bottom: 1px solid whitesmoke;
}
.logo_img img {
    width: 60%;
}

.nav_btns_lst li a {
    font-size: 14px !important;
    font-weight: 100;
}

.shuffle_wrap {
    background-color: #555555 !important;
}

.icon_style_setting {
    padding-left: 22% !important;
}

.shuffle_icons {
    width: 100% !important;
}

.search_btn {
    margin-top: 37px !important;
}

.search_playlist_button {
    padding-right: 22px !important;
}

.left_icons {
    max-width: 43%;
}

.popout_style_show {
    text-align: center;
    height: 330px !important;
    background-color: black;
    color: #ffbf00;
    border-radius: 0;
    border-top: 1px solid whitesmoke;
}

.playlist_border_style {
    border-bottom: 1px solid #ffbf00;
    margin-top: -18px;
    height: 33px;
}

.button_position {
    margin-left: 17px !important;
}

.ui-icon-player_back:after {
    background-image: url("../image/unnamed.png");
    background-size: 2px;
    margin-left: 17px !important;
}

.playlist_border_style div {
    background-color: transparent !important;
}

.option_playlist_style {
    border-bottom: 1px solid #F1C40F;
    height: 44px;
}

.position_cancel_popup {
    position: relative;
}

.cancel_popout_color {
    color: #F1C40F !important;
}

.left_icons li {
    margin-left: -2%;
}

.left_icons li img {
    width: 21px;
}

.search_btn a {
    float: right;
    max-width: 15%;
}

.song_list {
    display: block;
    border-bottom: 1px solid #D9B740 !important;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

.song_list img {
    width: 30px;
    display: inline-block;
    float: right;
    margin-right: 3%;
    margin-top: -27px;
}

#result-table.td {
    width: 100%;
    text-align: center;
}

.band-container {
    text-transform: uppercase;
    font-style: sans-serif;
    font-size: 20px;
}

.btn-primary {
    border-radius: 12px;
    text-transform: uppercase;
    width: 182px;
    height: 46px;
    margin-top: 20px;
    background-color: #ffb344;
}

.hmsong-checkbox {
    margin: 1.5em -5.5em;
}

.label_song {
    margin: -9px -40px .4em!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
    overflow: hidden;
    color: #F1C40F;
}

.chkSong {
    left: -5.534em;
    margin: 6px 0 0 0;
    height: 19px !important;
    width: 19px!important;
    margin-top: -1px !important;
}

.block_display {
    display: flex;
}

.ui_setting {
    display: flex;
}

.Player_save {
    width: 46px;
    height: 36px;
    margin-left: 50px;
    margin-right: 50px;
}

.Player_Equalizer {
    width: 46px;
    height: 36px;
}

.Panel_btn {
    position: relative;
    margin-bottom: 10px;
}

.nav-logo {
    width: 53%;
    margin: 0px auto;
    position: relative;
    display: block;
}


/* .navbar_Player {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #000;
} */

.leftIcon {
    float: left;
    width: 13%;
    margin: 0;
    height: 47px;
}

.titlePlay {
    float: left;
    width: 76.5%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.titlePlay h1 {
    margin: 0;
    margin-left: 25px;
    margin-top: 5px;
}

.rightIcon {
    float: left;
    width: 10%;
}

.backImg {
    width: 75%;
    margin-top: -7%;
    margin-left: 8%;
}

.menuImg {
    width: 70%;
    margin-left: 22%;
}

.menuImgmain {
    position: relative;
    width: 7%;
    height: 30px;
    float: right;
    margin-right: 6%;
    margin-top: -10.5%;
}
.playerImg img {
    width: 100%;
    margin-top: 20px;
}

.tetcnt {
    text-align: center;
}

.pannel-list {
    margin-left: 7%;
    text-align: left;
    padding-bottom: 2px;
    text-shadow: none;

}
.panel-content a {
    margin: 0;
    border-bottom: 1px solid #4e4e4e !important;
    border-radius: 0 !important;
}

.ui-icon-editicon:after {
    background-image: url(../image/edit.svg);
    background-size: 24px 24px;
    border-radius: 0;
    right: 2em;
}

.ui-icon-lockscreen:after {
    background-image: url(../image/lock-screen-icon.png);
    background-size: 20px 20px;
    border-radius: 0!important;
}

.my_pannel {
    background-color: #555555;
}

.hellowhi {
    background: #D9B740 !important;
}

.setting_content {
    padding: 0;
}
.setting_content li {
    border-bottom: 1px solid #4e4e4e !important;
}
.setting_content p {
    color: #b8b8c7;
    padding-left: 22px;
}

.setting_content hr {
    border-color: #D9DADC;
    margin: 0;
}

.setting_content span {
    padding: 0;
}

.setting_content ul {
    margin: 0!important;
}

.about_content {
    padding: 0;
}
.about_content li {
    border-bottom: 1px solid #4e4e4e;
}

.about_content p {
    color: #b8b8c7;
}

.about_content hr {
    border-color: #F1C40F;
    margin: 0;
}

.about_content ul {
    margin: 0!important;
}

.about_postion_a {
    float: left;
}

.about_postion_b {
    float: right;
    color: white !important;
}


/* aftab */

.login-image-container {
    text-align: center!important;
    background: transparent !important;
    border-color: #fec009 !important;
}

.login-image-border {
    border-color: white;
    width: 51%;
}

.png_icons {
    font-size: 26px !important;
    color: black;
    margin-top: 13px;
    width: 34px;
}

.field-container {
    display: flex;
    border-bottom: 1px solid black;
    height: 47px;
}

.input_login {
    width: 100%;
    background-color: transparent !important;
    margin-top: 9px;
}

.forget_password {
    text-align: center;
    color: black !important;
    margin-bottom: -10px;
}

.forget_password h5 {
    margin-bottom: 0px;
}

.fotter_icons {
    justify-content: center;
    color: black;
    font-size: 35px !important;
    margin-right: 23px;
}

.ui-page-theme-b .ui-body-inherit {
    background-color: transparent;
    border: none;
    text-shadow: none!important;
    box-shadow: none !important;
}

.ui-page-theme-b {
    text-shadow: none!important;
}

.login-footer {
    text-align: center;
    background: transparent !important;
    border-color: #fec009 !important;
    margin-top: -5px;
}

.login-image {
    margin: auto !important;
    width: 69%;
}

#Login_Page {
    margin-left: 9%;
    margin-right: 9%;
}

.check_box_setting {
    margin-left: -10px;
}

.login_connect_with {
    display: flex;
}



#Reg_Page {
    margin-left: 9%;
    margin-right: 9%;
}

.remember_me {
    color: black !important;
    z-index: 0 !important;
}

#RememberMe {
    width: 29px !important;
}

.login_connect_with {
    color: black !important;
    font-size: 15px !important;
    text-transform: lowercase!important;
}

.button_login_size {
    height: 43px;
}

.menu_button_link {

    height: 70%;
    border-bottom: 0 !important;
    padding-left: 0;
}

/*ahwaer coded classes march 08*/

div {
    outline: 0px solid red !important;
}

.navbar_img {
    width: 26px;
    height: 26px;
    margin-top: 2px;
}

.main_page_logo {
    margin: 8px 0 8px 8px !important;
    width: 250px;
}

.navbar_img_container {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.nav_button_container {
    margin: 0;
    padding: 0;
}

.menu_button_img {
    height: 28px;
    margin-top: 14px;
}

.button_flip_flop div {
    float: right;
    display: block;
    margin-top: 1px;
    margin-bottom: -4px;
    border-radius: 48px!important;
}

.popup_styln {
    width: 300px!important;
    color: #F1C40F !important;
    text-align: center;
    
    background-color: black;
    border-top: 1px solid blanchedalmond;
    border-radius: 0px;
    height: 257px;
    border-bottom: 1px solid blanchedalmond;
}

.popup_fotter {
    position: relative !important;
}

.input_popup_style div {
    background-color: transparent !important;
    border-bottom: 1px solid blanchedalmond !important;
    border-radius: 0px !important;
}

.navbar_styling {
    width: 70%;
    margin-left: 13%;
    margin-right: 15%;
}

.active_button_style.ui-btn-active {
    color: black !important;
    border-bottom: 2px solid black !important;
}

.settings_header {
    display: flex;
}

.settings_header p {
    font-size: x-large;
}

.settings_header a:active {
    border-bottom: 0 solid red!important;
}

.main_content {
    padding-top: 8px;
    padding-left: 0;
    padding-right: 0;
}

.main-nav-bar2 {
    background-color: #555;
    height: 36px;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.ui-filterable {
    background-color: #555;
    margin-left: 22px;
    margin-right: 22px;
}

.ui-filterable input {
    padding-top: 10px;
}

.ui-flipswitch-active {
    color: #000!important;
    background-color: #F1C40F!important;
    border-bottom: 0!important;
}

.about_Us_header {
    display: flex;
}

.about_Us_header p {
    font-size: x-large;
}

.about_Us_header a:active {
    border-bottom: 0!important;
}
.main-nav-bar {
    width: 70%;
    float: left;
}
.main-nav-bar a {
    padding: 12px 0;
}

#Reg_page {
    margin-left: 9%;
    margin-right: 14%;
}

.button_colour {
    background: #555555!important;
    margin-top: 38px;
    height: 35px !important;
    padding: initial;
    border-radius: 0px !important;
    outline: 1px solid black;
    padding-top: 3px;
}

#Login_Page input::placeholder {
    color: black !important;
}

#Reg_Page input::placeholder {
    color: black !important;
}

.fotter_icons {
    justify-content: center;
    color: #555555;
    font-size: 35px !important;
    margin-right: 23px;
}

.footer_icon_container {
    display: flex;
    justify-content: center;
    margin-left: 8%;
    margin-right: 2%;
    margin-top: -6px;
}

.login_connect_with {
    display: flex;
    color: black !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    font-weight: 100;
    text-shadow: none !important;
}



.footer_text {
    display: none;
    color: #555555;
    font-weight: 100;
    text-shadow: none;
}

.footer_text p {
    white-space: normal;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    word-spacing: -2px;
    margin: 0;
}

.navbar_Player {
    height: 58px;
    width: 100%;
    border-bottom: 1px solid white;
}

.back_music_player {
    height: 35px;
    background-color: transparent;
}

.left_Icon {
    width: 51px !important;
    height: 58px;
}

.left_Icon img {
    height: 28px;
    width: 48%;
    padding: 13px;
    cursor: pointer;
}

#panelLink {
    position: fixed;
}

.image_text_music {
    display: flex;
    height: 51px;
}

.remember_me p {
    margin: 0;
    margin-top: 3px;
}


.music_header_image img {
    width: 34px;
    margin-top: 5px;
}

.music_header_text p {
    width: max-content;
    font-size: 18px;
    margin: 16px;
    font-weight: normal;
    margin-left: 9px;
    margin-top: 20px;
}


/* .music_header_text {
    margin: auto;
} */

image_text_music {
    display: flex;
    height: 51px;
}

.track_repeat_button {
    width: 30px;
    margin-left: 7px;
}


.track_repeat_container {
    display: flex;
    width: 33.5%;
}

.repeat_on {
    margin-top: 9px;
}

.repeat_off {
    margin-top: 9px;
    display: none;
}

.track_play_container {
    display: flex;
    justify-content: space-between;
    width: 76% !important;
    align-items: center;
}

.middle_panel_setting {
    width: -webkit-fill-available;
}

.pause_image {
    display: none;
}

.side_shuffle_container {
    float: right;
    margin-right: 5px;
}

.side_shuffle_icon1 {
    width: 27px;
    margin-top: 0;
}


.main-ui-tab {
    padding-left: 0;
    padding-right: 0;
}

.pannel-icon:after {
    margin-top: -14px;
}


#slider-2 {
    display: none;
}

.slider_style div.ui-slider-track.ui-mini {
    height: 2px !important;
    top: 8px !important;
    width: 94% !important;
    border-width: 0px;
}

.slider_style a {
    border-radius: 14px;
    background-color: #fec009 !important;
    border-color: transparent !important;
}

.slider_style div.ui-slider-bg.ui-btn-active {
    border-bottom: 0px;
    background-color: #fec009;
}



/* * {
    border: 1px solid red;
} */

.slider_low_volume {
    width: 15% !important;
}

.slider_main_volume {
    width: 70% !important;
}

.slider_high_volume {
    width: 15% !important;
}

.slider_style div.ui-slider {
    margin-top: -10px;
}

.low_volume_image {
    width: 19px;
    float: right;
    padding: 5px;
}

.high_volume_image {
    width: 22px;
    float: left;
    padding-top: 8px;
}

.pannelcurrentpage {
    border: 1px solid #F1C40F;
    border-radius: 0 !important;
    background-color: #F1C40F!important;
    color: #555555!important;
}

#waveform {
    width: 56%;
    margin-left: 16%;
    display: none;
}

#time_current {
    float: left;
    position: relative;
    margin-top: 16px;
    margin-left: 5%;
    font-size: 12px;
    color: #FFBF00;
}

#time_total {
    float: right;
    position: relative;
    margin-top: -35px;
    font-size: 12px;
    margin-right: 6%;
    color: #FFBF00;
}

.refresh_image {
    height: 24px;
    width: 24px;
    margin-top: 4px;
}

.profile_image {
    width: 24px;
    position: relative;
    top: 8px;
    left: 6px;
}

.profile_heading {
    margin: 0 !important;
    margin-top: -31px !important;
}
.setting_header {
    display: flex;
}

.about_header {
    display: flex;
}

.setting_header_text {
    font-size: x-large;
    margin-left: 14px;
}

.about_header_text {
    font-size: x-large;
    margin-left: 14px;
}

.setting_logoImg {
    width: 42px;
    height: 59px;
    margin-left: 12px;
    margin-top: 10px;
}

.about_logoImg {
    width: 42px;
    height: 59px;
    margin-left: 12px;
    margin-top: 10px;
}

.artist_name {
    margin-top: -4px !important;
    margin-bottom: 0 !important;
    margin-left: -40px !important;
    color: lightgray;
}

.headphone {
    margin-top: -35px !important;
}

ul {
    border-radius: 0!important;
}

.button_flip_flop a {
    background-color: white!important;
}

.or_contact_us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.ui-flipswitch {
    background: lightgray;
    border: 0;
}

.ui-flipswitch-on {
    padding-top: 1px !important;
}

.ui-flipswitch-off {
    padding-top: 2px!important;
    color: black;
}

.header_aligment {
    width: 66% !important;
}

.ui-icon-usercustom:after {
    background-image: url(../image/user.svg);
    background-size: 22px 22px;
    border-radius: 0;
    margin-top: -13px;
    margin-left: 7px;
}

.ui-icon-mailcustom:after {
    background-image: url(../image/envelop.svg);
    background-size: 22px 22px;
    border-radius: 0;
    margin-top: -13px;
    margin-left: 7px;
}

.ui-icon-passwordcustom:after {
    background-image: url(../image/lock.svg);
    background-size: 22px 22px;
    border-radius: 0;
    margin-top: -13px;
    margin-left: 7px;
}

.ui-icon-laptopcustom:after {
    background-image: url(../image/laptop.svg);
    background-size: 26px 26px;
    border-radius: 0;
    margin-top: -13px;
    margin-left: 7px;
}

.editPlaylistPopup {
    color: #F1C40F !important;
    text-align: center;
    height: 185px;
    background-color: black;
    border-top: 1px solid blanchedalmond;
    border-radius: 0px;
}

.deletePlaylistPopup {
    color: #F1C40F !important;
    text-align: center;
    height: 175px;
    background-color: black;
    border-top: 1px solid blanchedalmond;
    border-radius: 0px;
}

.ui-icon-carat-r:after {
    display: none;
}

.playlists_List {
    border-bottom: 1px solid #F1C40F;
}

.artist_album_label {
    margin: -9px 12px .4em!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 95%;
    overflow: hidden;
    color: #F1C40F;
}

.album_artist_count {
    margin-top: -4px !important;
    margin-bottom: 0 !important;
    margin-left: 12px !important;
    color: lightgray;
}


.main_logo {
    width: 216px;
    height: 46px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}
.menu_button_img {
    height: 33px;
    margin-top: 5px;
}

.header {
    border-bottom: 0px solid !important;
    background-color: #d9dadc !important;
    /* display: flex;
    align-items: center; */
    height: 59px;
}
.headertext {
    color: black;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.song_cls{
    text-align: center;
    color: #000
}
.song_cls h3{
    margin: 0;
}
.side_shuffle_icon2 {
    width: 27px;
    display: none;
}
.middle_styling {
    width: 20px;
}
.play_image {
    width: 24px;
}
.track_repeat_button img {
    width: 90%;
    margin-top: 5px;
}
.ham-20x{
    font-size: 20px;
    float: left;
    margin: 4px 6px 0px 3px;
}
/* .dirBack-block{
   
    margin-top: 10px; 
} */
.ham-dir-nav{
    background-color:#212121
}
.dirBack-block > .ui-bar{
    height: 25px;
    background-color: #303030;
    border:none;
    color:#EDEBF6;
}
.dirBack-block {
    padding-left: 5px !important;
}
.file_control{
    border: none;
    padding-top: 5px;
    background-color: #303030;
}
.file_control span {
    font-weight: normal!important;
}
.play_playlist{
    
    margin: 5px 5px 0px -8px;
}
.play_text{
    /* float: left;
    margin: 8px 2px 0px -3px; */
}
.play_text a {
    font-weight: normal !important;
    text-shadow: none;
    text-shadow: 0;
}
.plus_playlist{
    float: left;
    margin: 7px 5px 0px 8px;
}
.plus_text{
    float: right;
    font-size: 11px;
    margin: 7px 3px -1px 0px;
    padding-bottom: 4px;
}
.plus_text a {
    font-weight: normal !important;
    text-shadow: none;
    text-shadow: 0;
}
.plus_text a:visited {
    text-decoration: none !important;
    color: white !important;
}
.fileCount{
    float: left;
    margin: 7px 3px 0px 3px;
}
.files{
    float: left;
    margin: 7px 6px 0px 3px;
}
/* aftab 26 Mar Start CSS*/
profile_container{
    background-color: #F1C40F;
}
.profile_header{
    color: black !important;
     border: none !important;
      background-color: #eee !important;
       height: 28px;
}
.list_profile li{
    color:black !important;
    border-bottom:1px solid lightgray !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-family: Helvetica;
    font-size: 12px;
}
.list_profile{
    overflow-y: visible;
}
.scroll{
    width:100%;
    height: 157px;
    overflow: auto;
}
/* change this in css */
.player_bar_buttons {
    height: 30px;
    margin-left: 9%;
    margin-right: 9%;
    display: flex !important;
    z-index: 1;
    text-align: center;
    background-color: #24272e;  
    align-items: center;
}
.folder_Header div{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    font-size: 15px;
    padding-left: 15px;
    color: #d9dadc;
    background-color: #212121;
    font-weight: 400;

}
.profile_headphone{
    display:block ;
    width:73%;
    margin-left: auto;
    margin-right: auto;    
    padding-top: 47px;
}
.profile_headphone_tag{
    width: 92%; 
    height: 204px; 
    background-color: white;
}
.profile_tag_header{
    padding-left: 5px;
    font-size: 11px !important;    
    padding-top: 6px;   
    text-shadow: none;
    margin-left: 10px;
}
.scroll_folder{
    width: 100%;
   
    overflow: scroll;
}
.Folder_List li{
    border-bottom: .5px solid #B8B8C7 !important;
    color:#B8B8C7 !important;
    padding-left: 15px !important;
    font-size: 14px;
    background-color: #303030 !important;    
}
.Folder_List li i{
        margin-left: 0px;
        padding-right: 6px;
}
.Folder_ListCopy li{
    border-bottom: .5px solid #4e4e4e !important;
    color:#B8B8C7 !important;
    padding-left: 9px;
    font-size: 14px;
    background-color: #303030 !important;    
}
.Folder_ListCopy li i{
        margin-left: 0px;
        padding-right: 6px;
}
.folder_Header{
    background-color:#212121; 
}
.main-class{
    background-color: #ffcc06;
}
/* aftab 26 Mar End CSS*/

/* Ahwar 26 Mar Start */
.palyerdiv {
    width: 100%;
    background-color: #d9dadc;   
    z-index: 1;
    height: max-content;
}
.playerImg {
    width: 60%;
    padding-top: 2px;
    margin: auto;
    position: relative;
}
.playerImg img {
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.logo_icon {
    width: 15% !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.logo_icon img {
    margin: auto;
    width: 45px;
    height: 55px;
}
.logo_text {
    width: 70% !important;
    text-transform: uppercase;
}
.logo_text h2 {   
    text-align: left;
    color: black;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    font-family: abc !important;
}
.player_bar {
    padding-bottom: 18px;

    text-align: center;
    background-color: #d9dadc;
}
.profile_trigger_1 {
    height: 71px;
    margin-top: -56px;
    left: 35%;
    top: 8px;
    position: relative;
}
.profile_trigger_1 img {
    margin: 6px;
    margin-bottom: 0px;
    width: 44px;
}
#profile_reset_all{
       margin-left: 38px;
       color: #000;   
}
.profile_back img{
    width: 25px !important;
    padding: 0 12px;
}
.menu_button {
    width: 15% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.menu_button img{
    margin: auto;
    width: 36px;
    height: 36px;
}
.header div {
    height: 100%;
}
@media only screen and (max-width: 380px) {
    .logo_text h2 {
        font-size: 1.7em;
    }
}
.audio_list {
    display: flex !important;
    align-items: center !important;
    padding: 8px 0!important;
    border-bottom: 1px solid #4e4e4e;
}
.audio_list_name {
    font-size: 13px !important;
    color: #b8b8c7;
}
.artist_PL{
    font-size: 11px !important;
    color: #b8b8c7;
}
.audio_list_folder {
    display: flex !important;
    align-items: center !important;
    padding: 8px 0!important;
    border-bottom: 1px solid #4e4e4e;
}
.audio_list_folder_name{
    font-size: 13px !important;
    color: #b8b8c7;
}
.artist_folder{
    font-size: 11px !important;
    color: #b8b8c7;
}
.song_check {
    width: 38px !important;
    padding-left: 8px;
}
.ui-checkbox {
    margin: 0;
}
.song_li_headphone {
    width: 88px !important;
}
.song_li_headphone img {
    float: right;
    width: 35px;
    height: 25px;
    margin-right: 8px;
}
.song_Name{
    border: 1px solid white;
    padding: 6px;
    font-size: 15px;
    height: 16px;
    display: flex;
    overflow: hidden;
    
    text-align: center;
    align-items: flex-start;
    color: #24272e;
}
#artist_Name{
    border: 1px solid white;
    padding: 6px;
    font-size: 10px;
    height: 14px;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    color: #24272e;
   justify-content: center; 
}
.song_info{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 3%;
    margin: 22% 5% 21% 8%;
    width: 44%;
}
.profile_trigger_2 {
    height: 71px;
    margin-top: -56px;
    left: 78.5%;
    top: 33px;
    position: relative;
}

.profile_trigger_2 img {
    margin: 6px;
    margin-bottom: 0;
    width: 11%;
}
.song_li_name {
    width: 70% !important;
}
.path_text{
    float: left !important;
    font-size: 14px!important;
    margin: 6px 3px 0px 8px !important;
}
.txt-rht {
    text-align: right;
}
.inbl{
    display: inline-block;
    /* float:left; */
    text-decoration: none;
}
.inbr {
    display: inline-block;
    float:right;
}
.song_li_hr {
    margin: 0;
    border-color: #ffcc06;
}
.progressBar_hr {
    display: none;
    height: 2px;
    margin-left: 9%;
    margin-right: 9%;   
    background-color: #ffcc06;
}
.tabsContent {
    width: 100%;
    background-color: #212121;
    display: block;
}
.tabsContent a {
    font-weight: normal!important;
    font-size: 14px !important;
}
.main-nav-bar .pt-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important
}
.equalizer_div {
    width: 25%;
    float: right;
}
.equalizer_div a {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 4px;
}
.equalizer_div a:hover, .equalizer_div a:focus, .equalizer_div a.ui-btn-active {
    text-decoration: none !important;
    border-bottom: none!important;
    margin: 0;
}
.clr {
    clear: both;
}
.input5 {
    float: left;
    display: block;
    width: 15px;
    float: left;
    margin-top: 16px;
}
.path_icon {
    font-size: 20px;
    float: left;
    margin: 6px 6px 0px 22px;
}
.plus_text > a#addplaylist {
    text-decoration: none !important;
}
.plus_text > a#addplaylist:visited {
    color:#fff !important;
}
.plus_text > a#addplaylist:active {
    color:#fff !important;
}
.panel {
    width: 60%;
}
.pdng_l {
    padding-left: 12px !important;
}
.ui-icon-synccustom:after {
    background-image: url(../image/sync.svg);
    background-size: 22px 22px;
    border-radius: 0;
    margin-top: -13px;
    margin-left: 7px;
}
.profileSelected {
    background-color: #b8b8c7 !important;
}
/* Ahwar 26 Mar End*/
.error_text{
    color: red;
}